@font-face {
  font-family: 'BebasNeueBold';
  src:  url('../fonts/BebasNeueBold.woff2') format('woff2'),
  url('../fonts/BebasNeueBold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AxureHandwriting';
  src:  url('../fonts/AxureHandwriting.woff2') format('woff2'),
  url('../fonts/AxureHandwriting.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/OpenSans.woff2') format('woff2'),
  url('../fonts/OpenSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
  url('../fonts/OpenSans-Semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/OpenSans-Bold.woff2') format('woff2'),
  url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  src:  url('../fonts/Roboto-Bold.woff2') format('woff2'),
  url('../fonts/Roboto-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
