
@import "../../node_modules/reset-css/reset.scss";
@import "../../node_modules/swiper/dist/css/swiper.min.css";

@import "_partials/fonts";

a{
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
.video-block{
  width: 100%;
  height:100vh;
  overflow: hidden;
  left: 0;
  top: 0;
  position: relative;
  p{
    color: #fff;
    font-size:30px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    font-family: AxureHandwriting;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
}
video, canvas {
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  background: #000;
}

body,html  {
  background-color: #000;
  width: 100%;
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.scroll-downs {
  position: absolute;
  right: 0;
  bottom: 0px;
  left: 0;
  margin: auto;
  padding-bottom: 55px;
  display: none;
  z-index:100;
  &.active{
    display: block;
  }
}
.mousey {
  width: 37px;
  padding: 10px 15px;
  height: 54px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: .75;
  margin: auto;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}
/*star black color*/
.dd-select{  border: solid 2px #fff;  background: #000;  }
.registration-block form button{  background: #D65A55;}
.form-group label{color:#4D4D4D;}
.social-btn-block button{background:#333333;}
.btn-style{background:#D65A55;}
.content-item-info a{color:#333333}
.modal.feedback .modal-body button{background: #D65A55}
.btn-style.close_modal{background:#333333;}
/*end black color*/

a{
  &:hover{
    color: #fff;
    text-decoration: none;
  }
}
.submit-button
{font-family: OpenSans,sans-serif;
  font-weight: 400;
  line-height: 16px;
  text-align: center;
  border-radius: 15px;
  color: #fff;
  font-size: 14px;
  border: none;
  height: 29px;
  min-width: 222px;
  cursor: pointer;}
.form-group input[type='checkbox'] {
  height: 17px;
  padding-left: 15px;}
.btn-style.close_modal{
  outline: 0;
  position: relative;
  top: 10px;
  color: #fff;
  font-size: 14px;
  min-width: 222px;
  border: none;
  height: 29px;
  cursor: pointer;
  font-family: Roboto,sans-serif;
  font-weight: 500;
  z-index: 10;
}


*{
  box-sizing: border-box;
}
button, input, select{
  outline: none;
}
html{
  height:100%;
}
body{
  font-family: "OpenSans", sans-serif;
  line-height:1.2;
  color: #333;
  min-height: 100%;
  overflow-x: hidden;
  &.video-play{
    overflow: hidden;
    background: #000;
  }
}
a{
  text-decoration: none;
}
.form_item{
  .user-name{width:100%}
}
.form_item{
  label{
    display: block;
    font-weight:500;
    margin: 10px 0;
  }
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border:1px solid #E5E5E5;
    height:41px;
    padding-left:18px;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control{
    width:100%;
  }
  select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:1px solid #E5E5E5;
    height:42px;
    padding-left:18px;
    outline: none;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}
.content-block-wrap{
  position: relative;
  background: url(../img/background.jpg) no-repeat center;
  background-size:cover;
  min-height: 100vh;
  padding-bottom: 28px;
  position: relative;
  &.video-play{
    opacity: 0;
    pointer-events: none;
  }
}
.content-container{
  width:1120px;
  margin:0 auto;
  min-height: calc(100vh - 28px);
  padding-bottom: 20px;
  .logo{
    display: block;
    margin:0 auto;
    font-weight:700;
    font-size:36px;
    line-height:22px;
    color: #fff;
    position: relative;
    text-transform: uppercase;
    margin-bottom:5px;
  }
}
.content-block{
  display: flex;
  justify-content: center;
  position: relative;
  margin: 0 -12px;
  padding: 25px 0;
}
.language_select{
  position: absolute;
  top:20px;
  right:25px;
  z-index:10;
  .dd-options {
    padding-top: 20px;
    top: 17px;
    z-index: 5;
  }
  .dd-select{
    border-radius: 30px;
    height: 35px;
    z-index: 10;
  }
  .dd-selected{
    padding:0 5px;
  }
  .dd-pointer-down {
    border: solid 5px transparent;
    border-top: solid 5px #fff;
  }
  .dd-selected-text{
    color: #fff;
    font-size: 13px;
  }
  .dd-option-image, .dd-selected-image{
    margin-top: 4px;
  }
  .dd-pointer-up {
    border-bottom: solid 5px #fff !important;
  }
  .dd-option-text{
    line-height: 20px;
    font-size: 13px;
  }
  .dd-option{
    max-height:35px;
    padding:0 5px 5px;
  }
}

.btn-style{
  color: #fff;
  font-size:14px;
  min-width: 222px;
  border:none;
  height:29px;
  cursor: pointer;
  border-radius: 15px;
  box-shadow: 1px 4px 9px 0 rgba(0,0,0,.15);
}
.content-block-column{
  margin: 13px 12px 0;
  flex-shrink: 0;
  max-width: 350px;
}
.column-big{
  width:50%;
  flex-grow:1;
}
.column-registration{
  max-width: 360px;
  margin-top:0px;
}

.registration-block{
  background: #fff;
  padding:9px 25px;
  text-align: center;
  position: relative;
  border-radius: 12px;
  padding-bottom:13px;
  p.info{
    margin-top: 18px;
    font-size: 12px;
    color: grey;
    font-family: Roboto;
    padding-left: 24px;
    text-align: left;
    a{
      color: #333;
      font-weight:bold;
    }
  }
  .label-or{
    position: relative;
    z-index:5;
    font-size:12px;
    color: #808080;
    margin: 7px 0;
    text-align: center;
    span{
      padding:0 12px;
      background: #fff;
    }
    &:before{
      content: '';
      display: block;
      width:100%;
      height:1px;
      background: #E3E3E3;
      position: absolute;
      top:49%;
      left:0;
      z-index:-1;
    }
  }
  p.title{
    font-size: 17px;
    font-family: AxureHandwriting;
    text-align: left;
    color: #4D4D4D;
    padding: 0 1px;
    word-spacing: -1px;
  }
  form{
    text-align: left;
    font-family: 'Roboto', sans-serif;
    padding: 0 24px;
    button{
      display: block;
      margin:20px 0;
      width:100%;
    }
    p.title{
      padding:0;
    }
  }
  .condition_link{
    font-size:12px;
    color: #808080;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: 15px 0;
  }
}
.social-login{
  padding:10px 0;
  display: flex;
  justify-content: space-between;
  .btn-style{
    width:100%;
    max-width: 95px;
    height:50px;
    display: block;
    margin: 0 auto;
    font-family: "OpenSans", sans-serif;
    font-weight:400;
    position: relative;
    min-width: 1px;
    padding-top:20px;
    box-shadow: 1px 4px 9px 0 rgba(0,0,0,.15);
    line-height: 25px;
    border-radius: 5px;
    i{
      position: absolute;
      left: 40px;
      top: 9px;
    }
  }
  .btn-facebook{
    background: linear-gradient(to right, rgba(57,88,154,1) 0%, rgba(0,114,185,1) 100%);
  }
  .btn-twitter{
    background: linear-gradient(to right, rgba(81,169,241,1) 0%, rgba(81,206,241,1) 100%);
  }
  .btn-gplus{
    background: linear-gradient(to right, rgba(222,74,51,1) 0%, rgba(237,122,64,1) 100%);
  }
}
.form-group{
  margin-bottom:1px;
  label{
    display: block;
    font-weight:500;
    margin: 8px 0;
    font-size:14px;
  }
  input{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    white-space: nowrap;
    text-decoration: none;
    text-overflow: ellipsis;
    outline: none;
    border:1px solid #E4E4E4;
    height:41px;
    padding-left:18px;
    border-radius: 0;
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;

    }

  }
  .form-control{
    width:100%;
  }
  select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-indent: 0;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    border:1px solid #E5E5E5;
    height:41px;
    padding-left:18px;
    outline: none;
    border-radius: 0;
  }
  select{
    background: url("http://static.iperawifi.com/themes/template1/img/arrow.jpg") 90% center no-repeat;
    background-position-x: calc(100% - 13px);
  }
  select::-ms-expand{ display:none; }
  .country-code-list{
    width:70px;
    margin-right:7px;
    display: inline-block;
    padding-left:10px;
  }
  input[name=phone]{
    width:144px;
    display: inline-block;
  }

  input[name=gender]{
    width:222px;
  }
  select:required:invalid {
    color: gray;
  }
  option[value=""][disabled] {
    display: none;
  }
  option {
    color: black;
  }
}

.social-btn-block{
  padding: 13px;
  background: #fff;
  border-radius: 12px;
  margin-top:14px;
  p{
    font-family:'Roboto',sans-serif;
    font-weight:500;
    text-align: center;
    position: relative;
    margin-bottom:5px;
    color: #4D4D4D;
  }
  .social-btn{
    text-align: center;
    a{
      color: #4D4D4D;
      font-size:20px;
      display: inline-block;
      margin: 0 12px;
    }
  }
  button{
    margin:10px auto 0;
    display: block;
    color: transparent;
  }
}

.slider-pagination{
  position: absolute;
  text-align: center;
  z-index:10;
}
.swiper-pagination-bullet{
  background: #fff;
  opacity:.4;
  width:11px;
  height:11px;
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
  margin: 0 2px;
}

.swiper-pagination-bullet-active{
  opacity:1;
}
.swiper-button-next{
  background-image: url(//static.iperawifi.com/themes/template1/img/next.png);
  width: 35px;
  background-size: contain;
  z-index: 1;
}
.swiper-button-prev{
  background-image: url(//static.iperawifi.com/themes/template1/img/back.png);
  width: 35px;
  background-size: contain;
  z-index: 1;
}
.content-item_block{
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  .content-item{
    display: block;
    background: #000;
    width:100%;
    height: 167px;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    margin-bottom:15px;
  }

  .img-wrap{
    height:100%;
    overflow: hidden;
    position: relative;
    img{
      min-width: 100%;
      min-height: 100%;
      opacity: .6;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }
  }
}
.slider-block-text{
  color: #fff;
  position: absolute;
  top: 50px;
  right:50px;
  left:50px;
  bottom:100px;
  display: inline-flex;
  justify-content: center;
  align-items: flex-end;
  z-index:5;
  font-family: 'BebasNeueBold';
  font-size:44px;
}
.content-item-info{
  padding:0;
  position: absolute;
  top: 0;
  right:0;
  left:0;
  bottom: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  p{
    color: #fff;
    font-family: 'AxureHandwriting';
    font-size: 36px;
    text-align: center;
  }
  .content-item-logo{
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 85px;
    text-align: center;
    img{
      position: absolute;
      bottom:0;
      left:50%;
      transform: translateX(-50%);
    }
  }
}

.twitter-block{
  overflow: auto;
  width:100%;
  max-height: 242px;
  .twitter-tweet{
    margin: 0 auto !important;
  }
}
.social-block-wrap{
  display: flex;
  justify-content: space-between;
  .twitter,.facebook{
    border-radius: 12px;
    display: block;
    width: 170px;
    height:53px;
    padding:10px 0;
    padding-left:60px;
    color: #ffffff;
    font-size:14px;
    text-align: left;
  }
  .twitter{
    background: url(../img/twitter-icon.png) no-repeat  20px center #51A9F1;
    background-size: 28px;
  }
  .facebook{
    background: url(../img/fb_like.png) 17px center no-repeat #39579A;
    background-size: 28px;
  }
}
.application_block{
  padding: 0 5px;
  margin-top: 25px;
  margin-bottom: -15px;
  text-align: center;
  p{
    font-family:'Roboto',sans-serif;
    font-size: 14px;
    color: #fff;
    text-align: center;
  }
  .btn-style{
    font-family:'OpenSans',sans-serif;
    font-weight:normal;
    line-height: 29px;
    text-align: center;
    display: inline-block;
    width:100%;
    margin:5px auto;
    background: #D65A55;
    max-width: 255px;
    i{
      margin-right:5px;
    }
  }
  .google_play{
    background: #D65A55;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 10%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  &.conditions{
    .modal-content{
      width:95%;
      max-width: 740px;
    }
    .modal-body{
      padding: 35px 45px;
      text-align: center;
      strong{
        font-family: 'BodoniBold';
        font-size:30px;
        margin-bottom:20px;
        display: block;
        color: #333;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.feedback{
    .modal-content{
      width:95%;
      max-width: 740px;
    }
    .modal-body{
      padding: 35px 50px;
      text-align: center;
    .form_item label {
      color: #4D4D4D;
      text-align: left;
      font-size: 14px;
      font-weight: 500;
      font-family: Roboto, sans-serif;

    }
      button {
        margin: 15px auto 0;
        display: block;
      }
      textarea{
        width:100%;
        height:95px;
        border: 1px solid #E5E5E5;
        padding: 18px;
        outline: 0;
        font-family:Roboto, sans-serif;
        font-size: 12px;
        resize: none;
      }
      input{
        font-family:Roboto, sans-serif;
        font-size: 12px;
      }
      .form_item_wrap{
        display: flex;
        .form_item{
          flex-grow: 1;
          font-size: 12px;
          font-family:Roboto, sans-serif;
          &:first-child{
            margin-right: 20px;
          }
        }
      }
      strong{
        font-family: 'BebasNeueBold';
        font-size:30px;
        margin-bottom:20px;
        color: #333;
        display: block;
      }
      p{
        font-size: 16px;
        margin-bottom: 20px;
      }
    }
  }
  &.succsess_feedback{
    font-family: 'BebasNeueBold';
    font-size: 30px;
    color: #4D4D4D;
    .modal-content{
      padding:45px;
      width:100%;
      max-width: 670px;
      text-align: center;
    }

  }
}
.unique-design{
  display: flex;
  flex-wrap: wrap;
  label{
    width:100%;
  }
  input{
    width: 50%;
    flex-grow:1;
  }
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

.after-registration{
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  background: #fff;
  z-index:10;
  flex-direction: column;
  justify-content: center;
  display: none;
  p.title{
    text-align: center;
    margin-bottom:30px;
    font-size:30px;
  }
  p.info{
    color: #333;
    margin-bottom:20px;
    font-size:15px;
    text-align: center;
    padding: 0 60px;
  }
  .btn_feedback{
    max-width: 250px;
    margin: 0 auto 60px;
    text-transform: capitalize;
  }
}
.after-login{

  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  background: #fff;
  z-index:10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  display: none;
  p.title{
    text-align: center;
  }
  .photo-wrap{
    width:130px;
    height:130px;
    border-radius: 50%;
    overflow: hidden;
    margin:30px auto;
  }
  strong{
    font-size:15px;
    color: #000;
    margin-bottom:30px;
  }
  input{
    height:42px;
    border-radius: 0;
  }
  p.info{
    font-size:12px;
    text-align: left;
    padding-left:30px;
    color: #808080;
    margin-top:20px;
    span{
      display: block;
      color: #4D4D4D;
      margin-bottom:5px;
    }
  }
  .btn-style{
    max-width: 250px;
    margin: 50px auto 0;
  }
  .leave_page{
    display: block;
    font-size:11px;
    text-align: center;
    margin-top:20px;
    color: #333;
  }
}
.follow-us-block{
  button{
    padding-left: 45px;
    text-align: left;
    position: relative;
    margin-bottom:10px;
    i{
      position: absolute;
      top: 7px;
      left: 23px;
    }
    &.facebook{
      background: linear-gradient(to right, rgba(57,88,154,1) 0%, rgba(0,114,185,1) 100%);
    }
    &.twitter{
      background: linear-gradient(to right, rgba(81,169,241,1) 0%, rgba(81,206,241,1) 100%);
    }
    &.instagram{
      background: linear-gradient(to right, rgba(46,49,143,1) 0%, rgba(237,122,64,1) 100%);
    }
    &.pinterest{
      background: #DE4A33;
    }
  }
}
button.close_modal{
  background: transparent;
  border: none;
  outline: none;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 30px;
  z-index:10;
}

.slider-block {
  margin-bottom:17px;
  border-radius: 12px;
  .swiper-slide{
    height: 690px;
    overflow: hidden;
    border-radius: 12px;
    img{
      position: absolute; left: 50%;
      top:50%; transform: translate(-50%,-50%);
      min-width: 100%;
      min-height: 100%;
    }
  }
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@media screen and (max-width: 1200px){
  .content-block-column{
    width:300px;
  }
  .column-registration{
    width:350px;
  }
  .content-container{
    width: 910px;
  }

  .social-block-wrap{
    margin: 15px 0 0;
    .facebook, .twitter{
      width: 140px;
    }
  }
}

@media screen and (max-width: 992px){

  .content-container{
    width: 750px;
  }
  .content-block{
    flex-wrap: wrap;
  }
  .content-block-column{
    margin-top: 0;
  }
  .content-slider{
    width:100%;
    max-width: 680px;
    margin-top: 20px;
  }
  .slider-block .swiper-slide{
    height:360px;
  }
  .column-slider-big{
    margin-top:24px;
    width:100%;
    max-width: 100%;
    padding: 0 12px;
    .swiper-slide{
      height:400px;
    }
  }
  .social-block-wrap{
    justify-content: center;
    a{
      margin: 0 5px;
    }
  }
  .social-btn-block{
    max-width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 767px){
  .content-container{
    width:100%;
    padding: 0 15px;
  }
  .content-block{
    margin:0;
  }
  .content-block-column{
    order: 1;
    width:100%;
    max-width: 380px;
  }
  .column-registration{
    margin-bottom:24px;
    width:100%;
    max-width: 380px;
    order: 0;
  }
  .column-slider-big .swiper-slide{
    width:100%;
    max-width: 280px;
    border-radius: 10px;
  }
  .column-slider-small{
    width:100%;
    max-width: 100%;
  }
  .social-login .btn-style{
    max-width: 80px;
    i{
      left:50%;
      transform: translateX(-50%);
    }
  }
  .social-btn-block .social-btn a{
    margin: 0 11px;
  }

}
@media screen and (max-width:550px){
  .language_select {
    top: 8px;
    right: 10px;
  }
  .content-block{
    padding-top:50px;
  }
  .content-block-column{
    margin-left: 0;
    margin-right: 0;
  }
  .content-block-wrap{
    background-size: 880px;
    background-position: top left;
    background-color: #333;
  }
  .content-container header{
    flex-wrap: wrap;
    p.title{
      text-align: center;
      padding:0;
    }
  }

  .content-container{
    overflow: hidden;
    padding: 0 10px;
  }
  .content-item_block{
    overflow: visible;
  }
  .slider-block{
    overflow: visible;
  }
  .slider-block .swiper-slide{
    max-width: 95%;
    height:365px;
  }
  .content-item-info .content-item-logo{
    bottom: 100px;
  }
  .content-item-info .content-item-logo img{
    width:75px;
  }
  .modal.feedback .modal-body{
    padding: 25px;
    .form_item_wrap{
      flex-wrap: wrap;
      .form_item{
        width:100%;
        &:first-child {
          margin-right: 0;
        }
      }
    }
  }
  .social-block-wrap{
    margin-left:-10px ;
    margin-right:-10px ;
  }
}
.powered-by{
  text-align: center;
  display: block;
  background: #fff;
  color: #333;
  text-decoration: none;
  padding:3px 0;
  font-size:10px;
  position: absolute;
  bottom:0;
  right:0;
  left:0;
  &:hover{
    text-decoration: none;
    color: #000;
  }
  img{
    margin-left:5px;
    height:22px;
    vertical-align: middle;
  }
}

@import "_partials/_color_style.css";